.root {
  display: flex;
  align-items: center;
  background-color: var(--black);
  min-height: 100vh;
}

.header-text {
  color: var(--white);
}

img {
  width: 70vw;
  height: 100vh;
}

@media (max-width: 1024px) {
  img {
    display: none;
  }
}
